body {
  max-width: 1100px;
  margin: 0 auto;
  background: url('../img/brillant.png') repeat;
}
tr:hover {
  cursor: pointer;
}
.panel {
  padding: 0;
}
.bubble {
  padding: 10px;
  color: #fff;
  margin-bottom: 15px;
}
.odd {
    background-color: #999;
}
.even {
    background-color: #666;
}
.label {
  min-width: 100px;
  display: inline-block;
  text-align: right;
}
.panel-body > div {
  margin-bottom: 4px;
}
