<div ng-controller="ChatDetailController as chatDetail">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{chat.description}}</h3>
          <small class="created-at">{{chat.created_at*1000 | date:'medium'}}</small>
        </div>
        <div class="panel-body">
          <div class="chats">
            <div ng-repeat="transcript in chat.transcript" class="bubble" ng-class-odd="'odd'" ng-class-even="'even'">
             {{transcript.date*1000 | date:'medium'}} : 
             <strong class="text-uppercase alias">{{transcript.alias}}</strong>
             {{transcript.message}}
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="col-sm-6">
     <div class="panel panel-success">
       <div class="panel-heading">
        <h3 class="panel-title">Statistics &amp; Meta</h3>
      </div>
      <div class="panel-body">
       <div>
         <span class="label label-primary">duration</span>
         <span>{{chat.chat_duration}}</span>
       </div>
       <div>
         <span class="label label-primary">waiting time</span>
         <span>{{chat.chat_waittime}}</span>
       </div>
       <div>
         <span class="label label-primary">survey score</span>
         <span>{{chat.survey_score}}</span>
       </div>
            <div >
       <span class="label label-primary">type</span>
       <span>{{chat.type}}</span>
     </div>
     </div>
   </div>
 </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">User information</h3>
      </div>
          <div class="panel-body">
      <div >
       <span class="label label-primary">email</span>
       <span>{{chat.requested_by}}</span>
     </div>
     <div >
       <span class="label label-primary">IP Address</span>
       <span>{{chat.ip_address}}</span>
     </div>
     <div >
       <span class="label label-primary">Location</span>
       <address>{{chat.country}}<br>{{chat.region}}<br>{{chat.city}}</address>
     </div>
          <div >
       <span class="label label-primary">browser user agent</span>
       <span>{{chat.user_agent}}</span>
     </div>
   </div>
    </div>
  </div>
  <div class="col-sm-6">
   <div class="panel panel-warning">
     <div class="panel-heading">
      <h3 class="panel-title">Urls</h3>
    </div>
    <div class="panel-body">
      <div >
       <span class="label label-primary">Entry url</span>
       <span>{{chat.entry_url}}</span>
     </div>
     <div >
       <span class="label label-primary">Page url</span>
       <span>{{chat.page_url}}</span>
     </div>
     <div >
       <span class="label label-primary">Referrer url</span>
       <span>{{chat.referrer_url}}</span>
     </div>
   </div>
 </div>
</div>
</div>
</div>
